.Sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1b1b1b;
  padding: 25px 15px;
}

.Sidebar img {
  width: 20px;
}

.Sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.Sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #575757;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.Sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}

.Sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.Sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

.Sidebar .recent-entry:hover {
  background-color: #292929;
}

.Sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.Sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .Sidebar {
    display: none;
  }
}
